*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-principal);
  list-style: none;
}

:root{
  --branco: #ffffff;
  --font-principal-color: #3b3b6f;
  --font-secundaria-color: #ffffff;
  --azul-fonte-secundaria: #004576;
  --btn-verde: #34a853;
  --color-text: #666768;
  --font-principal:'Poppins', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}