.navMenu{
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
}

.navMenu ul{
    display: flex;
    justify-content: space-around;
    gap: 32px;
}

.navMenu p{
    color: var(--branco);
    font-size: 1.3rem;
    gap: 10px;
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin: 0 1rem 0 5rem;
}